#statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.stat {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;

}

img {
    max-width: 1000px;
}

@media screen and (max-width: 500px) {
    .stat {
        flex-direction: column;
    }
}
